.container-1250 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 5px rgb(137, 137, 137);
          box-shadow: 0 0 5px 5px rgb(137, 137, 137);
  background-color: white;
  z-index: 1;
}

.nav__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__logo {
  width: 200px;
}
.nav__logo-768 {
  display: none;
}
.nav__btn-1 {
  max-width: 140px;
  background-color: #70C05B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
}
.nav__btn-2 {
  display: none;
  background-color: #70C05B;
  padding: 8px;
  border-radius: 5px;
}
.nav__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav__input input {
  padding: 10px;
  border: 2px solid #70C05B;
  border-radius: 5px;
  width: 300px;
}
.nav__input-img {
  position: absolute;
  right: 5px;
  top: 8px;
}
.nav__list-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.nav__list-1 a {
  color: #414141;
  font-weight: 400;
}
.nav__list-11 {
  position: absolute;
  top: -5px;
  right: 17px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #F63;
  border-radius: 10px;
}
.nav__list-11 h6 {
  color: white;
}
.nav__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__login-img {
  margin-right: 10px;
}
.nav__login-title {
  color: #414141;
  font-weight: 400;
  padding-right: 25px;
}
.nav__login-1 {
  display: none;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
}

input::-moz-placeholder {
  color: black;
  font-size: 15px;
}

input:-ms-input-placeholder {
  color: black;
  font-size: 15px;
}

input::-ms-input-placeholder {
  color: black;
  font-size: 15px;
}

input::placeholder {
  color: black;
  font-size: 15px;
}

body {
  background-color: #FBF8EC;
}

#hero {
  background: url(../../assets/images/about-hero-items.png);
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: contain;
}

.hero {
  padding-top: 174px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1050px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 50px;
  }
}
@media (max-width: 1050px) {
  .hero__left {
    margin-bottom: -40px;
    z-index: 4;
  }
}
.hero__title {
  color: #414141;
  font-size: 64px;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 460px) {
  .hero__title {
    font-size: 50px;
  }
}
.hero__paragraph {
  max-width: 669px;
  color: #F63;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 1050px) {
  .hero__paragraph {
    max-width: 80%;
  }
}
@media (max-width: 430px) {
  .hero__paragraph {
    font-size: 20px;
  }
}
@media (max-width: 370px) {
  .hero__paragraph {
    font-size: 18px;
  }
}
.hero__right {
  background-image: url(../../assets/images/about-hero-bg.png);
  background-repeat: no-repeat;
}
@media (max-width: 630px) {
  .hero__right img {
    width: 100%;
  }
}

.about {
  padding-top: 120px;
  padding-bottom: 83px;
}
.about__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 50px;
}
@media (max-width: 1000px) {
  .about__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .about__row {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
.about__items h6 {
  color: #414141;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
  position: relative;
}
.about__items h6 img {
  position: absolute;
  left: -35px;
}
@media (max-width: 600px) {
  .about__items h6 {
    font-size: 14px;
  }
}
.about__items p {
  color: #414141;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 600px) {
  .about__items p {
    font-size: 14px;
  }
}
.about__items:nth-child(1) h6 {
  max-width: 217px;
}
.about__bottom {
  padding-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 700px) {
  .about__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__bottom__right {
  padding: 30px 40px;
  border-radius: 16px;
  background-color: #e5ffde;
  position: relative;
}
.about__bottom__right .uchburchak-2 {
  display: none;
  position: absolute;
  top: -40px;
  left: 45%;
}
@media (max-width: 700px) {
  .about__bottom__right .uchburchak-2 {
    display: inline;
  }
}
.about__bottom__right .uchburchak-1 {
  position: absolute;
  left: -40px;
}
@media (max-width: 700px) {
  .about__bottom__right .uchburchak-1 {
    display: none;
  }
}
.about__bottom__right h3 {
  color: #70C05B;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

footer {
  background-color: #f9f4e2;
}

.footer__bg {
  background-image: url(../../assets/images/footer-bg.svg);
  background-size: 100%;
}
.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px 0;
}
.footer__all a {
  color: black;
}
.footer__logo {
  margin-right: 40px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  list-style: none;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.footer__call h4 {
  font-weight: 400;
  font-size: 13px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
  padding-bottom: 10px;
}
.footer__bottom h4 {
  font-weight: 400;
}

.nav__res {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav__responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  gap: 10px;
  background-color: white;
}

.nav__list-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.nav__list-2 h4 {
  font-weight: 400;
}

.nav__list-22 {
  position: absolute;
  top: -5px;
  right: 17px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #F63;
  border-radius: 10px;
}
.nav__list-22 h6 {
  color: white;
}

@media (max-width: 1000px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    overflow: hidden;
  }
  .footer__icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .nav__logo {
    display: none;
  }
  .nav__logo-768 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__btn-1 {
    display: none;
  }
  .nav__btn-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__login-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__login {
    display: none;
  }
}
@media (max-width: 700px) {
  .hero__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .nav__list-1 {
    display: none;
  }
  .footer__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__icon {
    padding: 0;
  }
  .footer__logo {
    margin: 0;
  }
}
@media (max-width: 550px) {
  .nav__input input {
    width: 200px;
  }
}
@media (max-width: 420px) {
  .nav__login-1 {
    display: none;
  }
  .nav__btn-2 {
    display: none;
  }
  .nav__res {
    display: inline;
  }
  .nav__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .hero__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}