.container-1250 {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 5px 5px rgb(137, 137, 137);
          box-shadow: 0 0 5px 5px rgb(137, 137, 137);
  background-color: white;
  z-index: 1;
}

.nav__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__logo {
  width: 200px;
}
.nav__logo-768 {
  display: none;
}
.nav__btn-1 {
  max-width: 140px;
  background-color: #70C05B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 5px;
  color: white;
  font-size: 17px;
}
.nav__btn-2 {
  display: none;
  background-color: #70C05B;
  padding: 8px;
  border-radius: 5px;
}
.nav__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.nav__input input {
  padding: 10px;
  border: 2px solid #70C05B;
  border-radius: 5px;
  width: 300px;
}
.nav__input-img {
  position: absolute;
  right: 5px;
  top: 8px;
}
.nav__list-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.nav__list-1 a {
  color: #414141;
  font-weight: 400;
}
.nav__list-11 {
  position: absolute;
  top: -5px;
  right: 17px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #F63;
  border-radius: 10px;
}
.nav__list-11 h6 {
  color: white;
}
.nav__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__login-img {
  margin-right: 10px;
}
.nav__login-title {
  color: #414141;
  font-weight: 400;
  padding-right: 25px;
}
.nav__login-1 {
  display: none;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
}

input::-moz-placeholder {
  color: black;
  font-size: 15px;
}

input:-ms-input-placeholder {
  color: black;
  font-size: 15px;
}

input::-ms-input-placeholder {
  color: black;
  font-size: 15px;
}

input::placeholder {
  color: black;
  font-size: 15px;
}

main {
  background-color: #fbf8ec;
}

#hero {
  padding-top: 100px;
}

.hero__top {
  padding-bottom: 30px;
}
.hero__top-1 {
  color: black;
  font-weight: 700;
}
.hero__top-2 {
  color: #414141;
}
.hero__center-1 {
  color: #414141;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 40px;
}
.hero__card {
  max-width: 376px;
  padding: 25px;
  background-color: white;
}
.hero__card h1 {
  color: #414141;
  font-weight: 600;
  padding-bottom: 15px;
}
.hero__card p {
  color: #414141;
  line-height: 24px;
  padding-bottom: 10px;
}
.hero__card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.hero__card-1 h3 {
  color: #414141;
  font-weight: 400;
  text-decoration: underline;
}
.hero__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-bottom: 30px;
}

footer {
  background-color: #f9f4e2;
}

.footer__bg {
  background-image: url(../../assets/images/footer-bg.svg);
  background-size: 100%;
}
.footer__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px 0;
}
.footer__all a {
  color: black;
}
.footer__logo {
  margin-right: 40px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  list-style: none;
}
.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.footer__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.footer__call h4 {
  font-weight: 400;
  font-size: 13px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px;
  padding-bottom: 10px;
}
.footer__bottom h4 {
  font-weight: 400;
}

.nav__res {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav__responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  gap: 10px;
  background-color: white;
}

.nav__list-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.nav__list-2 h4 {
  font-weight: 400;
}

.nav__list-22 {
  position: absolute;
  top: -5px;
  right: 17px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: #F63;
  border-radius: 10px;
}
.nav__list-22 h6 {
  color: white;
}

@media (max-width: 1000px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    overflow: hidden;
  }
  .footer__icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .nav__logo {
    display: none;
  }
  .nav__logo-768 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__btn-1 {
    display: none;
  }
  .nav__btn-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__login-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__login {
    display: none;
  }
}
@media (max-width: 700px) {
  .hero__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .nav__list-1 {
    display: none;
  }
  .footer__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__icon {
    padding: 0;
  }
  .footer__logo {
    margin: 0;
  }
}
@media (max-width: 550px) {
  .nav__input input {
    width: 200px;
  }
}
@media (max-width: 420px) {
  .nav__login-1 {
    display: none;
  }
  .nav__btn-2 {
    display: none;
  }
  .nav__res {
    display: inline;
  }
  .nav__all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .hero__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}